<h2>Collection: Collection name</h2>
		
<div>
	Fields for collection
	<table>
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Active</th>
		</tr>
		<tr>
			<td>Field 1</td>
			<td>Type 1</td>
			<td><input type="checkbox" checked></td>
		</tr>
		<tr>
			<td>Field 2</td>
			<td>Type 2</td>
			<td><input type="checkbox"></td>
		</tr>
		<tr>
			<td>Field 3</td>
			<td>Type 3</td>
			<td><input type="checkbox"></td>
		</tr>
		<tr>
			<td>Field 4</td>
			<td>Type 4</td>
			<td><input type="checkbox" checked></td>
		</tr>
	</table>
	
	<form>
		<label>Name: </label><input type="text" value="Name">
		<label>Type: </label><input type="text" value="Type">
		<label>Active: </label><input type="checkbox" checked>
		<input type="button" value="Add new">
	</form>
	
</div>
		
<div>
	<table>
	<!-- TODO options about deletion, modifiy, import... -->
		<tr>
			<th>Field 1</th>
			<th>Field 2</th>
			<th>Field 3</th>
			<th>Field 4</th>
			<th>Field 5</th>
		</tr>
		<tr>
			<td>Object 1</td>
			<td>Object 1</td>
			<td>Object 1</td>
			<td>Object 1</td>
			<td>Object 1</td>
		</tr>
		<tr>
			<td>Object 2</td>
			<td>Object 2</td>
			<td>Object 2</td>
			<td>Object 2</td>
			<td>Object 2</td>
		</tr>
		<tr>
			<td>Object 3</td>
			<td>Object 3</td>
			<td>Object 3</td>
			<td>Object 3</td>
			<td>Object 3</td>
		</tr>
	</table>
</div>
		
Count?
	
<div>
	<a href="#">Previous</a>
	<a href="#">Next</a>
</div>